#name{
  text-align: left;
  margin-left: 15px;
}
#status{
  text-align: left;
  margin-left: 15px;
}

.table{
   border: 4px double #333;
   border-collapse:separate;
   width: 30%;
   border-spacing: 30px 11px;
   margin-left: 20px;
   color: #f2e9ce;
   font-size: 18px;
   font-weight:lighter;

}
#picture{
  margin-left: 15px;
}


div{
  color:   #edb305;
  font-size: 17px;
}



html{
  background-image:url('../image/hope.jpg');
  -webkit-background-size: 100%;
}
